h1
{
    color:white;
    background-color:darkslategray;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p
{
    color: burlywood;
}

form
{   
    font-size: large;
    background-color: rgb(194, 194, 194);
    padding: 40px;
}