h1
{
    color:white;
    background-color:darkslategray;
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p
{
    color: burlywood;
}

form
{   
    font-size: large;
    color: cornsilk;
    background-color:rgb(16, 6, 43);
    padding: 40px;
}

textarea{
    background-color: black;
    color: inherit;
    font-size: large;
}

input{
    font-size: x-large;
    background-color: floralwhite;
}

h3{
    font-size: large;
    text-align: center;
    border: 1px solid black;
}