<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <meta charset="UTF-8">
  <title>ML API 2.0</title>
</head>

<body>
  <div class="login">
	<h1>Fake News Classifier New</h1>

     <!-- Main Input For Receiving Query to our ML -->
  <form action="{{ url_for('predict')}}" method="POST">
      <label for="Message Box">Enter Your Message Here</label>
      <br><br>
      <!-- <input type="text" name="comment"/> -->  
      <textarea name="message" rows="7" cols="50" placeholder="Paste the news article here..."></textarea>
      <br/><br>

      <input type="submit" name="message box" class="btn-info" value="Predict">
      
  </form>

   <br>
   <br> 
   {{ prediction_text }}


   
  </div>


</body>
</html>
